{% extends 'base.html' %}


{% block content %}


<main class="container py-5">

    <section class="card card-body">
        <h1 class="display-2 text-center">Django app</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam asperiores molestiae perferendis, similique
            accusamus laborum excepturi dolorem ex veritatis recusandae placeat voluptatem. Culpa dolorum fuga corporis
            harum beatae laboriosam voluptas hic tenetur, eum neque accusantium enim veritatis quibusdam aliquid, quos
            magni modi assumenda soluta quisquam ad fugiat tempore tempora. Quod ullam beatae illum rerum natus nihil
            est! Ipsa facilis inventore expedita. Laboriosam quis consectetur natus recusandae optio, minima minus. Quia
            quibusdam rem sapiente saepe obcaecati eveniet necessitatibus non fugiat suscipit at doloremque deleniti
            quae animi, magnam, omnis error sed magni deserunt voluptatibus tempora fugit vitae harum veritatis
            corporis? A, alias.
        </p>

        <div class="text-center">
            <a class="btn btn-outline-dark" href="/signin/">
                Signin
            </a>
            <a class="btn btn-outline-dark" href="/signup">
                Signup
            </a>

        </div>
    </section>
</main>

{% endblock %}